<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js'></script>
    <style>
        * {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.footer {
    font-size: 10pt;
    width: 80%;
    padding-bottom: 10px;
}

.title {
    text-align: center;
    background-color: lightblue;
    height: 100px;
}

.title-text {
    padding-top: 40px;
}

.active-in {
    position: absolute;
    top: 30px;
    padding-left: 20px;
}

.total-in {
    position: absolute;
    top: 60px;
    padding-left: 20px;
}

.striped {
    font-size: 7pt;
}
    </style>
</head>
<body>
    <div class='title'>
        <h2 class="title-text">In House Report {{currentdate}}</h2>
        <p class="active-in">Active In House:  ${{numberFormat2 activeinhouse }}</p>
        <p class="total-in">Total In House:  ${{numberFormat2 totalinhouse }}</p>
    </div>
    <table class='table striped'>
        <thead>
            <tr>
                <th>NC</th>
                <th>Exp</th>
                <th>Type</th>
                <th>PO #</th>
                <th>Quote ID</th>
                <th>Manufacturer</th>
                <th style="width: 8%;">Customer</th>
                <th style="width: 10%;">Cert #</th>
                <th>Cal Price</th>
                <th style="width: 10%;">Date In</th>
                <th style="width: 10%;">Date Due</th>
                <th>Due</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each quotes}}
            <tr>
                {{#if ncus}}
                <td><input type='checkbox' checked></td>
                {{else}}
                <td><input type='checkbox'></td>
                {{/if}}
                <td>{{exp}}</td>
                <td>{{caltype}}</td>
                <td>{{po}}</td>
                <td>{{quoteid}}</td>
                <td>{{mfg}}</td>
                <td>{{customer}}</td>
                <td>{{certid}}</td>
                <td>${{numberFormat2 calprice}}</td>
                <td>{{datein}}</td>
                <td>{{datedue}}</td>
                <td>{{due}}</td>
                <td>{{status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

